<!-- Toolbar -->
<mat-toolbar color="primary" class="toolbar mat-elevation-z12" role="banner" aria-label="header">
  <img width="40" height="40" alt="Y Person" ngSrc="assets/y-person.png"/>
  <h2>{{ title }}</h2>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <a mat-list-item routerLink="/ambassadors">
          <mat-icon>school</mat-icon>
          <span *ngIf="isExpanded" class="nav-list-item-text">Ambassadors</span>
        </a>
      </mat-list-item>

      <mat-list-item>
        <a mat-list-item routerLink="/staff">
          <mat-icon>groups</mat-icon>
          <span *ngIf="isExpanded" class="nav-list-item-text">Staff</span>
        </a>
      </mat-list-item>

      <mat-list-item>
        <a mat-list-item routerLink="/donors">
          <mat-icon>attach_money</mat-icon>
          <span *ngIf="isExpanded" class="nav-list-item-text">Donors</span>
        </a>
      </mat-list-item>

      <mat-list-item>
        <a mat-list-item routerLink="/matches">
          <mat-icon>join_inner</mat-icon>
          <span *ngIf="isExpanded" class="nav-list-item-text">Matches</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content" [ngClass]="{ expanded: isExpanded }" role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }" (click)="isExpanded = !isExpanded">chevron_right</mat-icon>

<!-- Footer -->
<mat-toolbar color="primary" class="footer" role="banner" aria-label="footer">
  <mat-icon>copyright</mat-icon>
  <span>2023 - HOBY New York East, Inc</span>
</mat-toolbar>
