.header {
  height: 64px;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.nav {
  width: 65px;
}

.active {
  background-color: aqua;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 64px;
}
