<!-- Toolbar -->
<mat-toolbar color="primary" class="toolbar mat-elevation-z12" role="banner" aria-label="header">
  <img width="40" height="40" alt="Y Person" ngSrc="assets/y-person.png"/>
  <h2>{{ title }}</h2>
</mat-toolbar>

<mat-sidenav-container>
  <!-- Navigation -->
  <mat-sidenav mode="side" opened="true">
    <mat-accordion multi>
      <mat-expansion-panel *ngFor="let mod of mods" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="nav-icon">{{ mod.icon }}</mat-icon>
            {{ mod.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item *ngFor="let link of mod.links" routerLink="{{ link.url }}">{{ link.text }}</a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content class="content" role="main">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Footer -->
<mat-toolbar color="primary" class="footer" role="banner" aria-label="footer">
  <mat-icon>copyright</mat-icon>
  <span>2023 - HOBY New York East, Inc</span>
</mat-toolbar>
